<div class="layui-layout layui-padding-2">
    <div class="layui-layout-admin">

        <div class="layui-tabs layui-tabs-card" lay-options="{index: 0}" id="home-page-demo">
            <ul class="layui-tabs-header">
                <li>默认首页</li>
                <li>企业首页</li>
                <li>政府首页</li>
                <li>医疗首页</li>
                <li>极简首页</li>
            </ul>
            <div class="layui-tabs-body">
                <div class="layui-tabs-item">
                    {include file="index/welcome_default"}
                </div>
                <div class="layui-tabs-item">
                    {include file="index/welcome_business"}
                </div>
                <div class="layui-tabs-item">
                    {include file="index/welcome_government"}
                </div>
                <div class="layui-tabs-item">
                    {include file="index/welcome_medical"}
                </div>
                <div class="layui-tabs-item">
                    {include file="index/welcome_modern"}
                </div>
            </div>
        </div>
    </div>
</div>